
// Standart Color 
    // Primary Color 

    // Secondary Color 

    // Tertiary Color 

    // Gray Color 
        // Gray Light 
            $Color-Gray-Light: #8C8C8C;
        // Gray 
            $Color-Gray: #4D4D4D;
        // Gray Dark
            $Color-Gray-Dark: #333333;

    // Black Color 
        $Color-Black: #000000;
    
    // Red Color 
        $Color-Red: #B81101;
    
    // Yellow Color
        $Color-Yellow: #F0DB01;
    
    // Green Color
        $Color-Green: #2FF000;

// Padding 
    // Header Padding 
        $pad-header: 5rem 0 5rem 0;
    // Form Padding 
        $pad-form: 3rem 2.5rem;
    // Link Padding 
        $pad-link: 5px 10px;

// Border - Size
    // Border Size Default
        $borsizeDefault: 5px;

// Border - Radius 
    // Form Border Raduis 
        $borRadForm: .5rem;

// Box-shadow 
    // Default
    $Box-Shadow-Default: 5px 5px 5px 0px;
    // Color 
        $BS-Color-Default: rgba(0,0,0,0.20);

// GAP 
    // GAP-default 
        $gap-default: .5rem;
    // GAP-Small
        $gap-small: .2rem;

// Font  
    // Size 
        // Extra Small
            $fs-extra-small: .7rem;
        // Small 